@import "styles/colors";
@import "styles/screens";


.main {
  position: relative;
  width: calc(100% - 20px * 2);
  height: 20px;
  background-color: $white;
  border: 1px solid $dark-grey;
  border-radius: 6px;
  font-size: 14px;
  line-height: 20px;
  color: $black;
  padding: 5px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: border-color 150ms;
  cursor: pointer;

  &.disabled {
    cursor: default;
    color: $dark-grey;
  }

  @media screen and (min-width: $tablet) {
    height: 28px;
    font-size: 16px;
    line-height: 24px;
  }

  &:hover {
    border-color: $dark-grey;
  }

  &.active {
    height: 29px;
    border-color: $black;
    color: $black;
    border-radius: 6px 6px 0 0;
    border-bottom: none;
  }

  &__options {
    display: none;
    position: absolute;
    top: 33px;
    left: -1px;
    right: -1px;
    height: max-content;
    background-color: $white;
    border-radius: 0 0 6px 6px;
    border: 1px solid $black;
    border-top: none;
    transition: transform 150ms;
    z-index: 3;

    @media screen and (min-width: $tablet) {
      top: 39px;
    }

    &.active {
      display: flex;
      flex-direction: column;
    }

    > div {
      cursor: pointer;
      position: relative;
      width: calc(100% - 20px * 2);
      padding: 5px 20px;

      &:hover {
        border: 1px solid $dark-grey;
        border-right: none;
        border-left: none;
        padding: 4px 20px;
      }
    }

    > div:last-child {
      &:hover {
        border-bottom: none;
        padding-bottom: 5px;
      }
    }
  }

  &__triangle {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(0deg);
    transition: all 200ms;

    > svg {
      fill: $dark-grey;
    }

    &.active {
      transform: rotate(180deg);

      > svg {
        fill: $black;
      }
    }
  }
}

