@import "styles/colors";
@import "styles/UI/common";


.main {
  @include non-selectable;
  height: 24px;
  width: 33px;
  position: relative;
  cursor: pointer;
  opacity: 1;
  transition: opacity 100ms;

  > div {
    position: absolute;
    background-color: $toggle-grey;
    width: 33px;
    height: 4px;
    left: 0;
    border-radius: 2px;
    transition: all 200ms;
  }

  > div:nth-child(1) {
    top: 0;
  }

  > div:nth-child(2) {
    top: 10px;
  }

  > div:nth-child(3) {
    bottom: 0;
  }

  &.active {
    > div:nth-child(1) {
      top: 10px;
      transform: rotate(45deg);
    }

    > div:nth-child(2) {
      transform: rotate(45deg);
      opacity: 0;
    }

    > div:nth-child(3) {
      bottom: 10px;
      transform: rotate(-45deg);
    }
  }

  &:hover {
    opacity: 0.7;
  }
}
