@import "styles/colors";
@import "styles/screens";
@import "styles/UI/common";


.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: calc(100vh - 50px);
  overflow: auto;
  position: relative;

  > * {
    position: relative;
  }
}
