$white: #fff;
$black: #1c1c1c;
$true-black: black;
$primary-light: #c4ee9d;
$primary: #a1e85e;
$primary-dark: #a1e85e;
$light-grey-1: #EDEDED;
$light-grey: #d5d5d5;
$grey: #C4C4C4;
$dark-grey: #868686;

$toggle-grey: #9d9d9d;

$danger: #fd4f4f;
$notice: #50a150;

